.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--cx-header-height);
    display: flex;
    align-items: center;
    padding: 12px 100px;
    transition: 0.5s;
    z-index: 10000;
}

.header.scrolled {
    background-color: #23252b;
}

.logo {
    display: flex;
    margin: 0 10px 0 0;
    color: #ffff;
    text-decoration: none;
    font-size: 35;
    font-weight: 100;
    font-style: italic;
    font-family: fantasy;
}

.nav {
    display: flex;
    list-style: none;
    margin: 0 20px;
}
  
.nav-link {
    color: #ffff;
    text-decoration: none;
    font-size: 16;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
    transition: 0.3s;
}
  
.nav-link:hover,
.nav-links.active {
    color: #e5510c;
}  

.search {
    margin-left: auto;
    width: 30px;
    height: 100%;
}

.banner {
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 0 100px;
    overflow: hidden;
}

.imgOverlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

.banner .movie {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    padding-bottom: 100px;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
  
.banner {
    animation: fadeInUp 0.8s ease-out;
    animation-fill-mode: forwards;
}
  

.errorMessage {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center; 
}

.carouselButton {
    width: 5% !important;
}

.carouselIndicators {
    right: auto !important;
    bottom: 20% !important;
    margin-left: 5% !important;
}

.carouselIndicators button {
    width: 30px !important;
    transition: width .3s ease !important;
    height: 8px !important;
    border-top: 0 !important;
    border-bottom: 0 !important;
    border-radius: .25rem;
}

:global(.carousel-indicators button.active) {
    width: 50px !important;
    transition: width .3s ease;
}

.movieInfo {
    width: 30% !important;
    min-width: 200px !important;
    text-align: left !important;
    margin-right: 200px !important;
    bottom: 25% !important;
    left: 5% !important;
}

.movieInfo p {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 6em;
    line-clamp: 4; 
    box-orient: vertical;
}

.movieGenres {
    color: rgb(160, 160, 160);
    font-size: 15px;
    margin-bottom: 0;
    display: -webkit-box;
    -webkit-line-clamp: 1 !important;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: clip;
    max-height: 1em;
    line-clamp: 1; 
    box-orient: vertical;
}