.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--cx-header-height);
    display: flex;
    align-items: center;
    padding: 12px 100px;
    transition: 0.5s;
    z-index: 10000;
}

.header.scrolled {
    background-color: #23252b;
}

.logo {
    display: flex;
    margin: 0 10px 0 0;
    color: #ffff;
    text-decoration: none;
    font-size: 35;
    font-weight: 100;
    font-style: italic;
    font-family: fantasy;
}

.nav {
    display: flex;
    list-style: none;
    margin: 0 20px;
}
  
.nav-link {
    color: #ffff;
    text-decoration: none;
    font-size: 16;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
    transition: 0.3s;
}
  
.nav-link:hover,
.nav-links.active {
    color: #e5510c;
}  

.search {
    margin-left: auto;
    width: 30px;
    height: 100%;
}

/* Banner Styles */

.banner {
    position: relative;
    width: 100%;
    min-height: 85vh;
    overflow: hidden;
}

.imgOverlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

.banner .movie {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    padding-bottom: 100px;
}

/* Banner fade-in animation */

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
  
.banner {
    animation: fadeInUp 0.8s ease-out;
    animation-fill-mode: forwards;
}
  
/* Error message Style */
.errorMessage {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center; 
}

.carouselButton {
    width: 5% !important;
}

.carouselIndicators {
    right: auto !important;
    bottom: 20% !important;
    margin-left: 5% !important;
}

.carouselIndicators button {
    width: 30px !important;
    transition: width .3s ease !important;
    height: 8px !important;
    border-top: 0 !important;
    border-bottom: 0 !important;
    border-radius: .25rem;
}

:global(.carousel-indicators button.active) {
    width: 50px !important;
    transition: width .3s ease;
}

.movieInfo {
    width: 30% !important;
    min-width: 200px !important;
    text-align: left !important;
    margin-right: 200px !important;
    bottom: 25% !important;
    left: 5% !important;
}

.movieInfo p {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 6em;
    line-clamp: 4; 
    box-orient: vertical;
}

.movieGenres {
    color: rgb(160, 160, 160);
    font-size: 15px;
    margin-bottom: 0;
    display: -webkit-box;
    -webkit-line-clamp: 1 !important;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: clip;
    max-height: 1em;
    line-clamp: 1; 
    box-orient: vertical;
}

/* Card section styles */

.cardSection {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-bottom: 3rem;
}

.cardSectionTitle {
    align-items: flex-start;
    display: flex;
    padding: 20px 40px;
}

.cardSectionTitle h2 {
    font-weight: 600;
    font-size: 1.75rem;
}

.movieCarouselButton {
    width: 3% !important;
    margin-bottom: 3rem;
}

/* Movie card styles */

.movieCard {
    position: relative;
    width: 250px;
    min-width: 150px;
    transition: all 0.3s ease;
}
  
.movieBanner {
    width: 100%;
    aspect-ratio: 2 / 3;
    background-color: white;
}

.movieBanner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
  
.movieTitle {
    height: 35px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: normal;
    color: white;
}

.movieOverlay {
    position: absolute;
    height: 100%;
    background-color: rgba(22, 22, 22, 0.9);
    opacity: 0;
    color: white;
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 10px 15px;
    transition: opacity 0.3s ease;
    visibility: hidden;
    cursor: pointer;
    border-bottom: 2px solid white
}

.movieCard:hover .movieOverlay {
    opacity: 1;
    visibility: visible;
}

.movieDescription {
    font-size: 14px;
    font-weight: normal;
    color: white;
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 10em;
    line-clamp: 6; 
    box-orient: vertical;
}

.movieRating {
    display: flex;
}

.movieRating > * {
    margin-right: 5px;
}

.movieRating p {
    font-size: 14px;
    font-weight: normal;
    color: white;
}

/* Footer Styles */

.footer {
    width: 100%;
    padding: 1.5rem 3rem;
    border-top: 1px solid #303337;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
}

.tmdb {
    display: flex;
    margin-bottom: .5rem;
    align-items: center;
    gap: 5px;
}

.contactIcon {
    color: white;
}
  
.contactIcon:hover {
    color: #b8b8b8;
}
